<form class="formWidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fullWidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="fullWidth">
          <input matInput placeholder="First Name" id="firstName" [(ngModel)]="address.firstname" name="firstname">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullWidth">
          <input matInput placeholder="Last Name" id="lastName" [(ngModel)]="address.lastname" name="lastname">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="fillWidth">
      <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </mat-form-field>
  </p>

  <table class="fullWidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="fullWidth">
          <input matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullWidth">
          <input matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullWidth">
          <input matInput maxlength="5" #postalcode placeholder="Postal Code" id="postalcode  " [(ngModel)]="address.postalcode" name="postalcode">
          <mat-hint align="end">
            {{postalcode.value.length}} / 5
          </mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>
  
  <p>
    <button type="submit" mat-raised-button>Submit</button>
  </p>
</form>